.course-era{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width: 90%;
    margin: auto;
}
.course-details{
    display: flex;
    gap: 10px;
    border: 1px solid rgba(128, 128, 128, 0.426);
    border-radius: 5px;
}
.course-title{
    font-size:25px;
    font-weight: 800;
}
.course-info{
  color: gray;
}
.course-btn{
    background-color:rgba(0, 0, 0, 0.798);
    color: white;
    border: none;
    padding: 12px 14px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

/* Extra small devices (phones, 576px and down)  */
@media only screen and (max-width: 576px){
    .course-era{
        grid-template-columns: repeat(1,1fr);
    }
     .course-details{
        flex-direction: column;
        padding: 20px;
     }
}
/* Small devices (portrait tablets and large phones, 576px up to 992px */
@media only screen and (min-width: 576px) {
    .course-era{
        grid-template-columns: repeat(1,1fr);
        
    }

}

/* Medium devices (landscape tablets, 992px and up) */
@media only screen and (min-width: 992px) {
    .course-era{
        grid-template-columns: repeat(2,1fr);
    }
    
}
